.codeDisplay {
  padding: 10px;
  .hide {
    display: none;
  }
  summary {
    cursor: pointer;
  }
  &[open] {
    .show {
      display: none;
    }
    .hide {
      display: inline;
    }
  }
  .tabs {
    margin-bottom: -10px;
    text-wrap: nowrap;
    overflow: auto;
    button {
      all: unset;
      cursor: pointer;
      padding: 10px 20px;
      &.active {
        background: #2465;
      }
      &:hover {
        background: #2495;
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  & > * {
    box-shadow: 0 0 5px red;
    padding: 20px;
    border-radius: 10px;
  }
}
.header {
  display: flex;
  box-shadow: 0 0 5px red;
  align-items: center;
  margin: 0 -30px;
  margin-bottom: 30px;
  padding: 0 30px;
  justify-content: center;
  gap: 35px;
}
.demo {
  width: var(--max-width);
  max-width: 95vw;
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 0 8px -2px var(--text-color);
  & > * {
    flex-grow: 1;
  }

  img {
    display: block;
    max-width: 500px;
    width: 80%;
    flex-grow: 0;
    margin: auto;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
  }
  button {
    cursor: pointer;
    margin: 5px 10px;
  }
}

.preview {
  padding: 0 30px;
  padding-bottom: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.code {
  font-family: var(--font-mono);
  max-height: 80vh;
  overflow: auto;
  pre {
    padding: 20px;
  }
}
