.demo {
  width: var(--max-width);
  max-width: 95vw;
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column-reverse;
  box-shadow: 0 0 8px -2px var(--text-color);
  & > * {
    flex-grow: 1;
  }
}

.preview {
  padding: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.code {
  font-family: var(--font-mono);
  pre {
    padding: 20px;
  }
}

@media screen and (min-width: 800px) {
  .demo {
    flex-direction: row;
  }
}
